<div class="credits">
    <span class="text-sm-left d-block d-sm-inline-block pull-left">Copyright &copy; 2018
        <a href="https://www.unibo.it/it" target="_blank">Alma Mater Studiorum</a>. All rights reserved.
    </span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 pull-right">Hand-crafted &amp; made with
        <em class="mdi mdi-heart text-danger"></em>
    </span>
</div>