<div [hidden]="submitted">
  <form role="form" #insertSensorForm="ngForm" (ngSubmit)="onSubmit(); insertSensorForm.reset()">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="...">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
      <p class="help-block">Insert here the name of the new sensor.</p>
    </div>
    <div class="form-group">
      <label for="barcodeId">Barcode ID</label>
      <input type="number" min="0" max="63" id="barcodeId" [(ngModel)]="model.barcodeId" class="form-control" name="barcodeId"
        #barcodeId="ngModel" placeholder="..." required>
      <div [hidden]="barcodeId.valid || barcodeId.pristine" class="alert alert-danger">
        Barcode ID is required
      </div>
      <p class="help-block">Insert here the ID of the barcode associated with the new sensor.</p>
    </div>
    <div class="form-group">
      <label for="samplingPeriod">Sampling Period (ms)</label>
      <input type="number" min="1" class="form-control" id="samplingPeriod" [(ngModel)]="model.samplingPeriod" name="samplingPeriod"
        #samplingPeriod="ngModel" placeholder="..." required>
      <div [hidden]="samplingPeriod.valid || samplingPeriod.pristine" class="alert alert-danger">
        Sampling period is required
      </div>
    </div>
    <div class="form-group">
      <label for="roomSelection">Room Associated</label>
      <room-selection></room-selection>
    </div>
    <div class="form-group">
      <label>Sensor Type</label>
      <sensor-type-selection></sensor-type-selection>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!insertSensorForm.form.valid || sensorTypeSelectionComponent.model.name === '' || roomSelectionComponent.model.name === ''">Insert Sensor</button>
    <button type="reset" class="btn btn-default" (click)="onReset()">Reset</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following Sensor insertion:</h2>
  <div class="row">
    <div class="col-xs-3">Name </div>
    <div class="col-xs-9 pull-left">{{lastSavedName}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Barcode ID </div>
    <div class="col-xs-9 pull-left">{{lastSavedBarcodeId}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Sampling Period </div>
    <div class="col-xs-9 pull-left">{{lastSavedSamplingPeriod}} ms</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Room </div>
    <div class="col-xs-9 pull-left">{{roomSelectionComponent.model.name}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Type </div>
    <div class="col-xs-9 pull-left">{{sensorTypeSelectionComponent.model.name}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Continue to Delete Detections</button>
</div>