<div [hidden]="submitted">
  <form role="form" #updateSensorForm="ngForm" (ngSubmit)="onSubmit(); updateSensorForm.reset()">
    <div class="form-group">
      <label for="sensorSelection">Sensor To Update</label>
      <sensor-selection></sensor-selection>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="..." required>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
      <p class="help-block">Insert here the new name for the sensor.</p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!updateSensorForm.form.valid || sensorSelectionComponent.model.name === ''">Update Sensor</button>
    <button type="reset" class="btn btn-default" (click)="onReset()">Reset</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h3>You submitted the following Sensor update:</h3>
  <div class="row">
    <div class="col-xs-3">Name </div>
    <div class="col-xs-9 pull-left">{{sensorSelectionComponent.model.name}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Continue to update sensors</button>
</div>