<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Sensors Management</h2>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Sensor Insertion </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <sensor-insertion-form></sensor-insertion-form>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Sensor Update </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <sensor-update-form></sensor-update-form>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Sensor Deletion </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <sensor-deletion-form></sensor-deletion-form>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->