<div [hidden]="submitted">
  <form role="form" #updateRoomForm="ngForm" (ngSubmit)="onSubmit(); updateRoomForm.reset()">
    <div class="form-group">
      <label for="roomSelection">Room To Update</label>
      <room-selection></room-selection>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
      <p class="help-block">Insert here the new name for the room.</p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!updateRoomForm.form.valid || roomSelectionComponent.model.name === ''">Update Room</button>
    <button type="reset" class="btn btn-default">Reset</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following Room update:</h2>
  <div class="row">
    <div class="col-xs-3">Name {{roomSelectionComponent.model.name}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Continue to update Rooms</button>
</div>