<header class="header dark-bg">
  <div class="toggle-nav">
    <div class="icon-reorder tooltips" data-placement="bottom">
      <i class="mdi mdi-menu"></i>
    </div>
  </div>

  <!--logo start-->
  <a routerLink="/" class="logo">
    Sensor
    <span class="lite">Manager</span>
  </a>
  <!--logo end-->
</header>
<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li>
        <a class="" routerLink="/">
          <i class="mdi mdi-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a class="" routerLink="/ar-camera">
          <i class="mdi mdi-camera"></i>
          <span>Camera</span>
        </a>
      </li>
      <li>
        <a class="" routerLink="/rooms">
          <i class="mdi mdi-menu"></i>
          <span>Stanze</span>
        </a>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<script>

</script>