<section class="panel">
    <div class="panel-body">
        <div class="tab-content">
            <div class="profile-activity" *ngIf="detections.length > 0">
                <div class="act-time" *ngFor="let detection of detections" [ngSwitch]="detection.sensor.type.name">
                    <div class="activity-body act-in">
                        <span class="arrow"></span>
                        <div class="text">
                            <p class="attribution">
                                <strong><a class="text-primary" routerLink="/sensor-details/{{ detection.sensor._id }}">{{detection.sensor.name}}</a></strong>
                                <span class="pull-right text-muted">{{detection.timestamp | date:"'il' dd/MM/yyy 'alle' h:mm:ss a" }}</span>
                                <br>
                                <span>{{detection.sensor.room.name}}</span>
                            </p>
                            <p *ngSwitchCase="'temperature'">
                                Temperatura rilevata: {{ detection.values[0] | number : '1.2-2' }} °C
                            </p>
                            <p *ngSwitchCase="'presence'">
                                Presenza rilevata: {{ detection.values[0] ? 'S&igrave;' : 'No' }}
                            </p>
                            <p *ngSwitchCase="'luminosity'">
                                Intensit&agrave; luminosa rilevata: {{ detection.values[0] | number : '1.2-2' }} cd
                            </p>
                            <div *ngSwitchDefault>
                                Valori rilevati:
                                <p *ngFor="let value of detection.values">{{ value }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 *ngIf="detections.length === 0">Non sono state effettuate rilevazioni</h3>
        </div>
    </div>
</section>