<select id="detectionSelection" class="form-control" [(ngModel)]="model" (ngModelChange)="selectDetection($event[0])"
  name="detectionSelection" multiple>
  <option *ngFor="let detection of detections" [value]="detection">{{detection.sensor.name}} - {{detection.sensor.room.name}} - Values: <ng-container *ngFor="let value of detection.values">[{{value | number:'1.2-2'}}] </ng-container> - {{detection.timestamp | date:"dd/MM/yyyy 'at' h:mm:ss a"}}</option>
</select>