<div [hidden]="submitted">
  <form role="form" #deleteDetectionForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="detectionSelection">Detection To Delete</label>
      <detection-selection></detection-selection>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="detectionSelectionComponent.model.values.length === 0">Delete Detection</button>
    <button type="reset" class="btn btn-default" (click)="onReset()">Reset</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following Detection deletion:</h2>
  <div class="row">
    <div class="col-xs-3">Sensor </div>
    <div class="col-xs-9 pull-left">{{detectionSelectionComponent.model.sensor.name}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Value </div>
    <div class="col-xs-9 pull-left">{{detectionSelectionComponent.model.values[0]}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false; onReset();">Continue to Delete Detections</button>
</div>