<div [hidden]="submitted">
  <form role="form" #insertRoomForm="ngForm" (ngSubmit)="onSubmit(); insertRoomForm.reset()">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
      <p class="help-block">Insert here the name for the new room.</p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!insertRoomForm.form.valid">Insert Room</button>
    <button type="reset" class="btn btn-default">Reset</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following Room insertion:</h2>
  <div class="row">
    <div class="col-xs-3">Name </div>
    <div class="col-xs-9 pull-left">{{roomSavedName}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Continue to insert Detections</button>
</div>