<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">SensorManager Back Office</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <a href="/detections">
              <i class="fa fa-dashboard fa-fw"></i> Detections</a>
          </li>
          <li>
            <a href="/rooms">
              <i class="fa fa-home fa-fw"></i> Rooms</a>
          </li>
          <li>
            <a href="/sensors">
              <i class="fa fa-video-camera fa-fw"></i> Sensors</a>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">
    <!-- Page content -->
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->