<section id="container">
  <app-navbar></app-navbar>

  <section id="main-content">
      <section class="wrapper">
      <router-outlet></router-outlet>

      <app-footer></app-footer>
    </section>
  </section>
</section>