<div [hidden]="submitted">
  <form role="form" #deleteRoomForm="ngForm" (ngSubmit)="onSubmit(); deleteRoomForm.reset()">
    <div class="form-group">
      <label for="roomSelection">Room To Delete</label>
      <room-selection></room-selection>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="roomSelectionComponent.model.name === ''">Delete Room</button>
    <button type="reset" class="btn btn-default" (click)="onReset()">Reset</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following Room deletion:</h2>
  <div class="row">
    <div class="col-xs-3">Name </div>
    <div class="col-xs-9 pull-left">{{roomSelectionComponent.model.name}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Continue to delete Rooms</button>
</div>