<select id="sensorTypeSelection" multiple class="form-control" [(ngModel)]="model" (ngModelChange)="selectSensorType($event[0])"
  name="sensorTypeSelection" #name="ngModel">
  <option *ngFor="let type of sensorTypes" [value]="type">{{type.name}}</option>
</select>