<div class="panel-group" id="accordion">
  <div class="panel panel-default" *ngFor="let room of rooms">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse-' + room._id">
          {{ room.name }}
        </a>
      </h4>
    </div>
    <div id="collapse-{{room._id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="tab-content">
          <div class="profile-activity">
            <div class="act-time" *ngFor="let sensor of room.sensors">
              <div class="activity-body act-in">
                <span class="arrow"></span>
                <div class="text">
                  <a routerLink="/sensor-details/{{ sensor._id }}">
                    <strong class="text-primary">{{ sensor.name }}</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>