<div class="row">
    <!-- profile-widget -->
    <div class="col-lg-12">
        <div class="profile-widget profile-widget-info">
            <div class="panel-body">
                <div class="col-lg-12 text-left">
                    <h1>
                        {{ sensor.name }}
                    </h1>
                    <section>
                        <span style="margin-right: 5px">
                            <i class="mdi mdi-map-marker"></i>{{ room.name }}
                        </span>
                        <span>
                            <i class="mdi mdi-clock"></i> {{ sensor.samplingPeriod }} ms
                        </span>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="panel">
    <div class="panel-body">
        <div class="tab-content">
            <div class="profile-activity" *ngIf="detections.length > 0">
                <div class="act-time" *ngFor="let detection of sensor.detections" [ngSwitch]="sensor.type.name">
                    <div class="activity-body act-in">
                        <span class="arrow"></span>
                        <div class="text">
                            <p class="attribution">
                                <strong class="text-primary">{{ sensor.name }}</strong>
                                <span class="pull-right text-muted">{{ detection.timestamp | date:"'il' dd/MM/yyy 'alle' h:mm:ss a" }}</span>
                            </p>
                            <p *ngSwitchCase="'temperature'">
                                Temperatura rilevata: {{ detection.values[0] | number : '1.2-2' }} °C
                            </p>
                            <p *ngSwitchCase="'presence'">
                                Presenza rilevata: {{ detection.values[0] ? 'S&igrave;' : 'No' }}
                            </p>
                            <p *ngSwitchCase="'luminosity'">
                                Intensit&agrave; luminosa rilevata: {{ detection.values[0] | number : '1.2-2' }} cd
                            </p>
                            <div *ngSwitchDefault>
                                Valori rilevati:
                                <p *ngFor="let value of detection.values">{{ value }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 *ngIf="detections.length === 0">Non sono state effettuate rilevazioni</h3>
        </div>
    </div>
</section>