<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Detections Management</h2>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Detections Insertion </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <detection-insertion-form></detection-insertion-form>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Detections Deletion </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <detection-deletion-form></detection-deletion-form>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->