<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Welcome to the Back Office, Admin!</h2>
      <div class="well well-lg">
        <p class="lead">You can choose the entities you want to manage using the sidebar.
          <br> A specific set of operations is available for each type of entity.</p>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>