<div [hidden]="submitted">
  <form role="form" #insertDetectionForm="ngForm" (ngSubmit)="onSubmit(); insertDetectionForm.reset()">
    <div class="form-group">
      <label for="sensorSelection">Sensor Associated</label>
      <sensor-selection></sensor-selection>
    </div>
    <div class="form-group">
      <label for="value">Values</label>
      <input type="number" placeholder="1° Value (required)" min="1" class="form-control" id="value" required [(ngModel)]="model.values[0]"
        name="value" #name="ngModel">
      <input type="number" placeholder="2° Value (optional)" min="1" class="form-control" id="value2" [(ngModel)]="model.values[1]"
        name="value2" #name="ngModel">
      <input type="number" placeholder="3° Value (optional)" min="1" class="form-control" id="value3" [(ngModel)]="model.values[2]"
        name="value3" #name="ngModel">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!insertDetectionForm.form.valid || sensorSelectionComponent.model.name === ''">Insert Detection</button>
    <button type="reset" class="btn btn-default" (click)="onReset()">Reset Values</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following Detection insertion:</h2>
  <div class="row">
    <div class="col-xs-3">Sensor </div>
    <div class="col-xs-9 pull-left">{{sensorSelectionComponent.model.name}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">1° Value </div>
    <div class="col-xs-9 pull-left">{{lastSavedValues[0]}}</div>
  </div>
  <div class="row" *ngIf="lastSavedValues[1] != undefined">
    <div class="col-xs-3">2° Value </div>
    <div class="col-xs-9 pull-left">{{lastSavedValues[1]}}</div>
  </div>
  <div class="row" *ngIf="lastSavedValues[2] != undefined">
    <div class="col-xs-3">3° Value </div>
    <div class="col-xs-9 pull-left">{{lastSavedValues[2]}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Continue to insert Detections</button>
</div>