<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Rooms Management</h2>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Room Insertion </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <insert-room-form></insert-room-form>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Room Update </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <update-room-form></update-room-form>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3> Room Deletion </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <deletion-room-form></deletion-room-form>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->