<select id="roomSelection" class="form-control" [(ngModel)]="model" (ngModelChange)="selectRoom($event[0])" name="roomSelection" multiple>
  <option *ngFor="let room of rooms" [value]="room">{{room.name}}</option>
</select>