<div [hidden]="submitted">
  <form role="form" #deleteSensorForm="ngForm" (ngSubmit)="onSubmit(); deleteSensorForm.reset()">
    <div class="form-group">
      <label for="sensorSelection">Sensor To Delete</label>
      <sensor-selection></sensor-selection>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="sensorSelectionComponent.model.name === ''">Delete Sensor</button>
    <button type="reset" class="btn btn-default" (click)="onReset()">Reset</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following Sensor deletion:</h2>
  <div class="row">
    <div class="col-xs-3">Name </div>
    <div class="col-xs-9 pull-left">{{sensorSelectionComponent.model.name}}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Continue to delete Sensors</button>
</div>