<select id="sensorSelection" class="form-control" [(ngModel)]="model" (ngModelChange)="selectSensor($event[0])"
  name="sensorSelection" multiple>
  <option *ngFor="let sensor of sensors" [value]="sensor">{{sensor.name}} - {{sensor.room.name}} - {{sensor.samplingPeriod}} ms</option>
</select>